*.class
dependency-reduced-pom.xml

/.idea
/target/classes
/target/generated-sources
/target/maven-archiver
/target/maven-status
/target/status
/target/surefire
/target/original-*
/target/*-shaded.jar